.video-title {
    width: 100%;
    object-position: top;
    display: block;



}

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

.video-time {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    position: absolute;
    bottom: 8px;
    right: 5px;
    border-radius: 2px;
    font-family:Roboto, Arial;
    font-size: 12px;
    font-weight: 500;
    padding: 4px;




}

.picture-row {
    position: relative;
    margin-bottom: 8px;

}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.channel-picture {
    vertical-align: top;

}

.profile-picture {
    width: 36px;
    border-radius: 50px;
}



.video-author,
.video-stats {
    font-size: 12px;
    color: rgba(96, 96, 96);
    
}

.video-author {
    margin-bottom: 5px;
}

.video-name {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;

}


@media (max-width: 750px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 751) and (max-width: 999px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 1000px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.video-author,
.confirm-icon {
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.confirm-icon {
    height: 14px;
   
}

.confirm-author .tooltip {
    position: absolute;
    background-color: rgba(96, 96, 96, 0.9);
    color: white;
    padding: 8px;
    border-radius: 2px;
    font-size: 12px;
    font-family: Roboto, Arial;
    bottom: -50px;
   
    pointer-events: none;
}

.confirm-author:hover .tooltip {
    opacity: 1;
}